.profile-container {
    width: 200px;
    border: 1px solid black;
    
    .profile-item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}