.profile-container {
    width: 81%;
    // border: 1px solid black;
    background: inherit;
    align-self: center;
    font-family: Open Sans;
    font-weight: 500;
    color: black;
    font-size: 15px;
    
    
    .profile-item-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        border-bottom: 1px solid gray; 
        padding: 0px 15px; 
    }
}

.user-info-input {
    width: 50px;
}

.gender-radio-container {
    width: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;

    .gender-radio {
        margin:0;padding:0;
        -webkit-appearance:none;
           -moz-appearance:none;
                appearance:none;
    }

    .gender-radio:checked + .gender-icon{
        background-color: green;
        color: white;
    }

    .gender-icon {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .gender-icon:nth-child(2) {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .gender-icon:nth-child(4) {
        border-left: 1px solid green;
        border-right: 1px solid green;
    }

    .gender-icon:nth-child(6) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
