.profile-container {
    width: 200px;
    border: 1px solid black;
    
    .profile-item-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        // margin-bottom: 10px;
        border-bottom: 1px solid gray;  
    }
}

.user-info-input {
    width: 50px;
}