.first-side {
    text-align: center;
    width: 25%;
    // max-width: 375px;
    min-width: 360px;
    height: 100vh;
    position: absolute;
    left: 0;

    .first-drawer-contain {
        height: 100%;
        border: 0;
        border-radius: 0.1em;
        animation: fadein 2s, first 0.7s ease-in;
        background-color: rgb(228, 216, 203);


        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;

        a {
          font-size: 15px;
          font-family: Open Sans;
          // text-transform: uppercase;
          letter-spacing: 0.07em;
          text-decoration: none;
          margin: 16px 0;
          // width: 240px;
          // width: 160px;
          width: 43%;
        }
    }

    .profile-container {
      display: inline-block;
    }
}

.first-drawer-main-text {
    display: block;
    padding: 35px 30px 35px 20px;
    font-family: Sacramento;
    font-size: 26px;
    // color: rgb(182, 170, 170);
    color: rgb(7, 7, 7);
}


@keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

@keyframes first {
    0%{
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}


@mixin btn-border-slide($color, $hoverColor, $borderWidth, $time) {
  $easing: cubic-bezier(0.4, 0, 0.2, 1);
  
  position: relative;

  display: inline-block;
  padding: 0.7em 2.6em;

  overflow: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;

    height: $borderWidth;
    width: 100%;

    background-color: $color;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:hover {

    & > * {

      & > * {

        &:before,
        &:after {
          transform: translate3d(0, 0, 0);
        }

        & > * {
          &:before,
          &:after {
            transform: translate3d(0, 0, 0);
          }
        }

      }
    }
  }

  & > * {

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;

      height: 100%;
      width: $borderWidth;

      background-color: $color;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    & > * {

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        z-index: 9;

        height: $borderWidth;
        width: 100%;

        background-color: $hoverColor;
      }

      &:before {
        top: 0;

        transform: translate3d(-105%, 0, 0);
        transition: transform $time $easing;
      }

      &:after {
        bottom: 0;
        
        transform: translate3d(105%, 0, 0);
        transition: transform $time $easing;
      }

      & > * {

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          z-index: 9;

          height: 100%;
          width: $borderWidth;

          background-color: $hoverColor;
        }

        &:before {
          left: 0;

          transform: translate3d(0, 105%, 0);
          transition: transform $time $easing;
        }

        &:after {
          right: 0;

          transform: translate3d(0, -105%, 0);
          transition: transform $time $easing;
        }
      }
    }
  }
}

// Start of styling


body {

  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;

}


a {
 
  font-size: 1.2em;
  letter-spacing: 0.07em;
  text-decoration: none;
  margin: 16px 0;
 
}
 
.btn {
  @include btn-border-slide(rgb(247, 217, 180), rgb(184, 149, 107), 1px, 0.9s);
//   @include btn-border-slide(#252525, #168dff, 2px, 0.8s);
}


.second-side {
    text-align: center;
    width: 25%;
    height: 100vh;
    position: absolute;
    left: 25%;
    min-width: 300px;

    border-left: 1px solid rgba(114, 106, 106, 0.988);


    .second-drawer-contain {
        height: 100%;
        border: 0;
        border-radius: 0.1em;
        animation: fadein 2s, second 0.7s ease-in;
        background-color: rgb(228, 216, 203);
        
        .second-drawer-main {
          display: flex;
          justify-content: center;
          height: 100%;
        }
    }
}

@keyframes fadein {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}

@keyframes second {
    0%{
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0px);
    }
}




@mixin btnn-border-slide($color, $hoverColor, $borderWidth, $time) {
  $easing: cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;

  display: inline-block;
  padding: 0.7em 2.6em;

  overflow: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;

    height: $borderWidth;
    width: 100%;

    background-color: $color;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:hover {

    & > * {

      & > * {

        &:before,
        &:after {
          transform: translate3d(0, 0, 0);
        }

        & > * {
          &:before,
          &:after {
            transform: translate3d(0, 0, 0);
          }
        }

      }
    }
  }

  & > * {

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;

      height: 100%;
      width: $borderWidth;

      background-color: $color;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    & > * {

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        z-index: 9;

        height: $borderWidth;
        width: 100%;

        background-color: $hoverColor;
      }

      &:before {
        top: 0;

        transform: translate3d(-105%, 0, 0);
        transition: transform $time $easing;
      }

      &:after {
        bottom: 0;
        
        transform: translate3d(105%, 0, 0);
        transition: transform $time $easing;
      }

      & > * {

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          z-index: 9;

          height: 100%;
          width: $borderWidth;

          background-color: $hoverColor;
        }

        &:before {
          left: 0;

          transform: translate3d(0, 105%, 0);
          transition: transform $time $easing;
        }

        &:after {
          right: 0;

          transform: translate3d(0, -105%, 0);
          transition: transform $time $easing;
        }
      }
    }
  }
}

// Start of styling
 
.btnn {
  @include btnn-border-slide( rgb(255, 255, 255),rgba(75, 23, 4, 0.632), 1px, 0.6s);
//   @include btn-border-slide(#252525, #168dff, 2px, 0.8s);
}





