.add-ingredient-modal-container {
    background-color: blue;
}

.ingredient-search-container {
    background-color: green;
}

.fridge-container {
    height: 100%;
    width: 100%;
    border: 5px solid black;
}