

* {
    text-decoration: none;
}

/* Remove all underline/italicize/etc. */


.top {
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 55px;

    display: flex;
    
    .nav {
        align-self: center;
        display: flex;
        flex-direction: row; 
        // align-content: space-between;
    }
}

.right-left-contain {
    width: 100%;
    height: calc(100vh - 55px);
    background-color: green;
    display: flex;
}

.left {
    width: 70%;
    height: calc(100vh - 85px);
    background-color: rgb(9, 25, 63);
    margin: auto 0;
    display: flex;
    justify-content: center;

    .left-contain {
        width: 950px;
        align-self: center;
        // margin: 0 auto;
        height: 97%;
        // background-color: blue;
        background-color: #F9F9F9;
        border-radius: 3px;
        display: flex;
        flex-direction: column;


        .left-ingredients {
            width: 600px;
            height: 70px;
            background-color: rgb(255, 174, 0);
            margin: 10px auto;
        }

        .left-filter {
            width: 900px;
            height: 70px;
            background-color: rgb(213, 237, 225);
            margin: 10px auto;
            margin-top: 20px;
            border-radius: 3px;
        }

        .left-recipe-contain {
            width: 900px;
            height: 70px;
            background-color: rgb(60, 69, 101);
            border-radius: 3px;
            margin: 10px auto;
            flex-grow: 1;
            overflow: hidden;
            display: flex;

            .boxes-contain {
                width: 100%;
                height: 100%;
                background-color: #F9F9F9;
                border-radius: 3px;

            }

            .index-boxlink-square {
                width: calc(30% - 20px) !important;
                margin: 21px;
                margin-bottom: 0;
                height: 130px;
                background-color: white;
                float: left;
                box-shadow: 1px 1px 8px 1px #1a1919;
        /* minus the margins (60px in total for each side of each box)
        we need to override the width from the div!!  */
                display: flex;
                padding: 20px;

                h3 {
                    align-items: center;
                    align-self: center;
                    font-weight: normal;

                }
            }

            .index-links div h3 {
                line-height: 70px;
            }
        }
        
    }

}

.right {
    width: 30%;
    height: calc(100vh - 85px);
    background-color: yellow;
    margin: auto 0;

    .right-contain {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: darkgrey;
        padding: 10px;


        .macro-contain {
            height: 200px;
            width: 80%;
            // margin: 10px auto;
            flex-grow: 3;
            background-color: pink;
        }

        .ingredient-contain {
            height: 100%;
            width: 80%;
            // change the height so that the list container grows as you increase the recipe quantity
            background-color: rgb(29, 27, 27);
        }
    }
}




