
.main-developers {
  width: 88vw;
  height: 80vh;

  position: absolute;
  top: 5%;
  left: 5%;

  display: flex;
  flex-direction: column;
  background: red;

  .dev-top {
    display: flex;
    flex-direction: row;
    background: green;
    width: 80%;
    height: 50%;
    margin-bottom: 10px;
  }
}

.main-developer {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background: blue;

  .main-developer-name {
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
  }

  .main-developer-image {
    // height: calc(50% + 10px);
    padding-bottom: 10px;
    border-radius: 5%;
    width: 200px;
  
  }

  .main-developer-link {
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 10px;
  }
}