

.main-auth {

    padding-left: 20px;

    .main-sign {
    	color: rgb(199, 185, 169);
        font-family: Open Sans;
        font-size: 13px;
    }

    .main-sign:hover {
        color: white;
    }
}

.splash-loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    top: 2%;
    right: 0%;
    width: 300px;
    height: 80px;
    
    // h2 {
    //     position: static;
    // }

}

.meter { 
    height: 2px;
    width: 220px;
    margin-top: 20px;
    overflow: hidden;
    background-color: rgb(252, 252, 252);
    .meter #span-first {
        width: 100%
    }
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background: rgb(167, 141, 86);
    // background: linear-gradient(98deg, rgba(221,51,51,1) 0%, rgba(156,145,91,1) 33%, rgba(56,130,54,1) 52%, rgba(108,30,52,1) 75%, rgba(136,25,55,1) 82%, rgba(235,9,64,1) 98%, rgba(200,14,59,1) 100%);
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}


.splash-middle {
	width: 50%;
	// background: red;
    padding: 20px;
    display: flex;
    
    .splash-middle-contain {
        display: flex;
        align-self: center;
        flex-direction: column;
        // background: rgb(153, 228, 138);
        height: 70%;
        width: 80%;
        margin: 0 auto;
        font-family: Open Sans;
    }
    
    .the-exp {
        color: rgb(56, 56, 56);
        // background: yellow;
        padding: 40px 0px;
        border-bottom: 2px solid black;
        font-weight: 400;
        font-size: 32px;
        letter-spacing: 0.5px;
    }

    .the-exp-sub-head {
        font-weight: 400;
        color: rgb(40, 39, 39);
        // background: green;
        padding: 28px 0px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.632);
    }

    
    .the-exp-body {
        color: rgb(89, 89, 89);
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        // background: red;
        padding-top: 13px;
    }

}



.second-main-contain {
	width: 97vw;
	height: 90vh;
    // background: red;
    margin: 0 auto;
    margin-top: 15px;
	display: flex;
	flex-direction: row;

}

.img-container-second {
	width: 50%;
	height: 100%;
	// background: blue;
	display: flex;
	justify-content: flex-end;
}

.splash-img-second {
    width: 86%;
    max-width: 567px;
    height: 100%;
}


.img-container-first {
	/* z-index: 999; */
	width: 97.5vw;
    height: 89vh;
    margin: 0 auto;
    margin-top: 17px;
    // background: blue;

    .splash-img {
        width: 100%;
        height: 100%;
        align-self: center;
    }
}

.splash-middle-container-3 {
    width: 97vw;
	height: 90vh;
    // background: red;
    margin: 0 auto;
    margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
    background: url("../assets/third.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10%;
    position: relative;
}

.splash-gif-container {
    display: flex;
	flex-direction: column;
    width: 700px;
    // background: red;
    position: absolute;
    top: 10%;
    left: 10%;

    .splash-gif-top {
        // background: pink;
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        border: 1px solid black;
        border-bottom: none;
    }

    .splash-gif-bottom {
        // background: pink;
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        border: 1px solid black;
        // border-top: none;
    }
}

.splash-gif-item {
	display: flex;
	flex-direction: column;
    align-items: center;
    // background: skyblue;
    // background: rgb(249, 249, 242);
    background: rgba(101, 93, 93, 0.5);
    box-shadow: 1px 1px 8px 1px rgba(223, 220, 220, 0.29);
    width: 300px;
    height: 260px;
    margin: 10px;
}

.splash-gif {
	height: 100px;
	width: 100px;
}

.splash-gif-2 {
	height: 100px;
	width: 100px;
	margin-top: -10px;
	margin-bottom: 10px;
}

.splash-gif-3 {
	height: 90px;
    width: 90px;
    margin-top: 10px;
}

.splash-gif-label {
    border-top: 1px solid rgba(75, 74, 74, 0.55);
    width: 80%;
    margin-top: 6px;
    font-weight: 600;
    font-size: 14px;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.splash-gif-body {
	margin-top: 20px;
	width: 200px;
	font-size: 14px;
	color: white;
	font-weight: 500;
	text-align: center;
	line-height: 1.9;
}

.how-it-works {
    position: absolute;
    bottom: 14%;
    letter-spacing: 1.5px;
    right: 17%;
    text-shadow: 1px 1px 3px white;
    color: black;
    font-weight: 300;
    
	font-size: 42px;
	white-space: nowrap;
}






