
.main-developers {
  width: 90vw;
  height: 80vh;

  position: absolute;
  top: 5%;
  left: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(223, 102, 102);

  .dev-top {
    display: flex;
    flex-direction: row;
    background: green;
    width: 80%;
    height: 50%;
    margin-bottom: 10px;
    justify-content: space-around;
  }
}

.main-developer {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 100%;
  background: blue;


  .dev-left {
    display: flex;
    flex-direction: column;
    background: white;
    width: 40%;

    .dev-image {
      height: 165px;
      width: 165px;
      border-radius: 5px;
      overflow: hidden;
    }

    .main-developer-name {
      font-size: 20px;
      line-height: 50px;
      text-align: center;
      vertical-align: middle;
      background: pink;
    }
  }

  .dev-right {
    display: flex;
    flex-direction: column;
    background: yellow;
    flex-grow: 1;

    .dev-link {
      display: flex;
      flex-direction: row;
      background: red;

      .dev-logo {
        background: green;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }

    // .main-developer-link {
    //   text-align: center;
    //   font-size: 15px;
    //   font-weight: 600;
    //   color: black;
    //   margin: 10px;
    // }
  }

  .main-developer-image {
    height: 100%;
  
  }
}