.recipe-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: calc(100% + 25px);
  max-height: 100%;

  padding-bottom: 10px;
  box-sizing: border-box;
  
  overflow-x: hidden;
  overflow-y: scroll;

  // ::-webkit-scrollbar {
  //   width: 5px;
  // }

  // ::-webkit-scrollbar-track {
  //   border: 7px solid black;
  // }

  // ::-webkit-scrollbar-thumb {
  //   background: red;
  //   border-radius: 2px;
  // }
}