.recipe-index-item {
  height: 250px;
  width: 269px;
  padding: 10px;

  // border: 1px solid black;
  border-radius: 3px;

  background-color: white;

  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 6px 1px #dddada;

  margin: 14px;
  margin-bottom: 0;

  font-family: Open Sans;
  font-weight: 400;
  font-size: 12px;

  .title-time {
    display: flex;
    flex-direction: row;
    // line-height: 17px;
  }

  .icon-box {
    display: flex;
    flex-direction: row;
    // background-color: rgb(219, 241, 247);
    background-color: rgb(223, 242, 247);
    border-radius: 5px;
    font-size: 11px;
    justify-content: space-around;

    .vegan {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .leaf {
      width: 20px;
      height: 20px;
    }
  }
}

.recipe-index-item:hover {
  cursor: pointer;
  filter: brightness(90%);
}


.recipe-index-item-remove {
  position: relative;
  top: calc(0%);
  left: calc(100% - 5px);

  font-size: 14px;
  height: 14px;
  width: 14px;
}

.recipe-index-item-remove:hover {
  cursor: pointer;
}

.recipe-index-item-name {
  width: 100%;
  overflow-wrap: normal;
  // margin-top: 10px;
  padding: 14px 9px;
  color: rgb(29, 26, 26);
}

.make {
  color: rgb(92, 92, 92);
  display: block;
  width: 25px;
  height: 22px;
  border: 1px solid rgb(120, 118, 118);
  border-radius: 50%;
  position: relative;
  margin-top: 8px;
  margin-right: 10px;

  p {
    position: absolute;
    top: 20%;
    left: 14%;
  }
  
}

.recipe-index-item-image {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  // background-color: red;
  overflow: hidden;

  img {
    width: 100%;
    height: 150px;
  }

}

.recipe-index-item-number {
  border: 1px solid gray;
  border-radius: 3px;
  
  font-size: 16px;
  width: 16px;
  text-align: center;

  margin: 5px;
  margin-left: 8px;
}

.recipe-index-item-add {
  height: 20%;
  width: 100%;

  font-size: 14px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-index-item-add:hover {
  cursor: pointer;
}

.loading-cont {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 300px;
  padding-top: 50px;
  box-sizing: border-box;
  align-items:center;
  justify-content: center;
}
.loading-img-cont {
  height: 300px;
  width: 400px;
  // overflow: hidden;
  position: relative;
  top: 50%;
  // background: red;
}

.loading-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background: transparent;
}


