.cart {
  width: 350px;
  height: 600px;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid rgb(172, 169, 169);

  display: flex;
  flex-direction: column;
  justify-content: center; 
  background-color: rgb(242, 241, 241);
  // background: rgb(232, 248, 214);
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
  font-size: 15px;

  width: 100%;
  height: 10%;
}

.cart-header-date {
  margin: 0px 12px;
}

.cart-header-left, .cart-header-right {
  margin-left: 5px;
  margin-right: 5px;
  width: 80px;
  display: flex;

}

.cart-header-left {
  justify-content: flex-end;
}

.cart-header-left:hover, .cart-header-right:hover {
  cursor: pointer;
}

.cart-date {
  width: 100%;
  height: 890px;
  // background: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // background: inherit;
}

.cart-save-button {
  width: 100px;
  margin-left: 100px;
  margin-right: 100px;
  
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid black;
  background: maroon;

  color: white;
  text-align: center;
}

.cart-save-button:hover {
  cursor: pointer;
}

.cart-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 161px;
  // padding-bottom: 3px;
  margin-bottom: 10px;
  border-radius: 10px;
  // background: rgb(250, 250, 250);
  background: rgb(224, 238, 207);
  box-shadow: 1px 1px 7px 1px #d0cece;
  overflow: hidden;
}

.cart-item-time {
  width: max-content;
  font-size: 13px;
  font-weight: 400;
  padding: 12px 10px;
  padding-left: 29px;
  // background: rgb(223, 128, 128);
  background: white;
  background: inherit;
}

.cart-item-info {
  width: 90%;
  height: 110px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: rgb(245, 245, 245);
  box-shadow: 1px 1px 8px 1px #c6c4c4;
  margin: 0 auto;
  font-family: Open Sans;
  font-size: 15px;

  .cart-image {
    width: 30%;
    // background: green;
    display: flex;
    justify-content: center;

    .cart-item-info-image {
      width: 85%;
      height: 85%;
      box-shadow: 1px 1px 5px 1px rgb(182, 181, 181);
      opacity: 90%;
      border-radius: 10px;
      object-fit: cover;
      align-self: center;
    }
  }


  .cart-item-info-text {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 13px;
    // background: blue;
    background: inherit;
    height: 55%;

    .cart-item-name {
      width: 70%;
      height: 50px;
      // background: purple !important;
      background: inherit;
      font-size: 14px;
      font-weight: bold;
      padding-top: 9px;
      padding-left: 10px;
      // background: white;
    }
  }

}

.cart-item-name {
  height: 70%;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
}

.cart-item-remove {
  width: max-content;

  // border: 1px solid black;
  // background: maroon;

  font-size: 12px;
  color: black;
  vertical-align: middle;
  text-align: center;
}

.cart-item-remove:hover {
  cursor: pointer;
}

.cart-item-main {
  height: 110px;
  // background: skyblue;
  background: inherit;

  .cart-item-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // background: rgb(201, 123, 5)!important;
    background: inherit;
    width: 275px;
    font-size: 12px;
    margin-left: 20px;
  }
}

.cart-item-main:hover {
  cursor: pointer;
}


.cuisine {
  display: flex;
  flex-direction: row;
  // background: purple;

  .cuisine-image {
    padding-right: 5px;
    
    .uten-icon {
      width: 13px;
      height: 12px;
    }
  }
}
