  // width: 950px;
  // align-self: center;
  // // margin: 0 auto;
  // height: 97%;
  // // background-color: blue;
  // background-color: #F9F9F9;
  // border-radius: 3px;
  // display: flex;
  // flex-direction: column;
            // width: 900px;
            // height: 70px;
            // background-color: rgb(238, 225, 250);
            // margin: 10px auto;
            // margin-top: 20px;
            // border-radius: 3px;
            // overflow: hidden;



.filter-cont {
  width: 900px;
  min-height: 70px;
  // background-color: rgb(249, 247, 227);
  // // background: #DFF2F7;
  // border: 1px solid rgb(233, 232, 232);
  // box-shadow: 1px 1px 5px 1px rgb(233, 232, 232);
  // border-radius: 3px;
  // background: rgba(17, 12, 5, 0.79);
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(214, 211, 208, 0.619);
  border: 1px solid rgba(225, 132, 18, 0.338);
  border: 1px solid rgba(0, 0, 0, 0.44);
  margin: 10px auto;
  margin-top: 20px;
  padding: 3px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
  .filter-top {
    // background: #DFF2F7;
    display: flex;
    flex-direction: row;
  }

  .filter-header {
    font-size: 20px;
    display: flex;
    align-items: center;
    // background: #DFF2F7;
    // box-shadow: 1px 1px 1px 1px rgb(249, 219, 219);
    border-radius: 13px;
    padding: 2px 5px;
  }
  .filter-text-cont {
    // background: #DFF2F7;
    width: 280px;
    height: 22x;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(172, 168, 168);
    // box-shadow: 1px 1px 2px 1px rgb(183, 214, 238);
    font-size: 14px;
    color: white;
    letter-spacing: 2px;
    
    .filter-text-input {
      width: 230px;
      height: 30px;
      outline: none;
      background: inherit;
      border: none;
      padding-left: 10px;

    }

    ::placeholder {
      // color: rgb(187, 183, 183);
      color: rgb(67, 66, 66);
      font-family: Open Sans;
      font-size: 15px;
    }

    .filter-query-search {
      width: 45px;
      height: 30px;
      background: inherit;
      display: flex;
      justify-content: center;

      img {
        width: 17px;
        height: 17px;
        align-self: center;
      }
    }
    
  }
  .filter-text-button {
      height: 43px;
      width: 48px;
      border-radius: 2px;
      background: rgb(255, 255, 255);
      // box-shadow: 0px 0px 3px 1px rgb(244, 222, 222);
      border: 1px solid #E9C5C5;
      display: flex;
      justify-content: center;
      margin-left: 10px;

      img {
        width: 34px;
        height: 32px;
        margin-top: 5px;
      }
    }
    .filter-text-button:hover {
      cursor: pointer;
      background: rgb(203, 205, 205);
    }
  .filter-param-cont {
    width: 380px;
    height: 20px;
    margin-top: 29px;
    margin-left: 33px;
    margin-right: 10px;
    display: flex;
    font-family: Open Sans;
    font-size: 14px;
    color: rgb(74, 73, 73);
    justify-content: space-between;
    // background: red;

    .filter-text {
      width: 100px;
      text-align: center
    }

    .filter-text:hover {
      font-weight: bold;
      cursor: pointer;
    }

   
    .filter-param-dropdown {
      position: relative;

      .filter-dd-cont {
        position: absolute;
        left: 0;
        top: 18px;
        width: 200px;
        height: 50px;
        z-index: 2;
        background-color: purple;
        border: 1px solid black;

        .filter-dd-item {
          background-color: white;
          border: 1px solid black;
          display: flex;
          align-items: center;
        }
        .filter-dd-item:hover {
          background-color: lightblue;
        }
      }
    }
  }
  .filter-bot {
    height: 50px;
    width: 400px;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: flex;

  }
  .filter-bot-cuisine {
    height: 70px;
    width: 780px;
    margin: 10px 0px;
    background: rgb(241, 234, 247);
    padding-top: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }
}
.filter-dd-item1 {
  display: flex;
  background-color: inherit;
  align-items: center;
  // justify-content: space-between;
  margin: 0 10px;
  height: 20px;
  width: 120px;
  user-select: none;
  padding: 0 5px;
  font-size: 13px;
  font-family: Open Sans;
}
.filter-dd-item1:hover {
  // background: blue;
  font-weight: bold;
  cursor: pointer;
}
.filter-dd-item2 {
  font-family: Open Sans;
  font-size: 14px;
  background-color: inherit;
  text-align: center;
  margin: 0 10px;
  height: 20px;
  width: 90px;
  user-select: none;
}
.filter-dd-item2:hover {
  cursor: pointer;
  font-weight: bold;
}

.filter-x {
  position: absolute;
  top: 0;
  right: 10px;
}
.filter-x:hover {
  cursor: pointer;
  color: white;
}
.filter-bot-diet {
  height: 70px;
  width: 850px;
  background: rgb(216, 194, 137);
  padding-top: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin: 10px 0px;
}

.filter-bot-allergies {
  height: 70px;
  width: 850px;
  margin: 10px 0px;
  padding-top: 8px;
  background:rgb(241, 234, 247);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.filter-slider {
  width: 355px;
  display: flex;
  flex-direction: row;
  padding-left: 18px;
  font-family: Open Sans;
  font-size: 14px;
  // background:red;

  :first-child {
    width: 300px;
    // background: red;
  }

}
.filter-nutr-slider{
  -webkit-appearance: none;  
  appearance: none;
  width: 70%; 
  background: #b583b2;
  outline: none;
  opacity: 0.7; 
  height: 1px;
  -webkit-transition: .2s;
  transition: opacity .2s;

}
.filter-nutr-slider {
  opacity: 1; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #5b9de8;
  height: 10px;
  width: 16px;
  border-radius: 3px;
  background: #ade7f9;
  cursor: pointer;
  box-shadow: 1px 1px 1px #e6a4fc, 0px 0px 1px #d7a1f2;
  
}

input[type=number] {
  background: inherit;
  border: none;
  margin-left: 11px;
  width: 50px;
}


::placeholder {
  color: rgb(123, 171, 228);
  font-size: 17px;
  padding-left: 10px;
}

.toggle .react-toggle--checked {
  background-color: red;
}


.slider-second {
  display: flex;
  width: 140px;

  input[type=range] {
    align-self: center;
  }
}

.toggle-span {
    background:#F8F8F8;
    color: #575656;
    font-size: 13px;
    letter-spacing: 1px;
    border: 1px solid rgb(215, 213, 213);
    position: relative;
    top: -53px;
    display:none;
    white-space: nowrap;
    align-self: center;
    padding: 10px;
    border-radius: 5px;
}


.filter-text-button {
    margin:10px;
    margin-left: 20px;
    margin-right: 0px;
    float:left;
    position:relative;
    cursor:pointer;
}

.filter-text-button:hover .toggle-span {
    display:block;
}

.filter-text-button:hover img {
    position: absolute;
    top: 0px;
}


.fridge-add {
  display: flex;
  justify-content: flex-end !important;
  // background-color: red;

  .filter-dd-item1 {
    width: max-content;

  }
}


.filter-bot-allergies {
  height: 70px;
  width: 850px;
  margin: 10px 0px;
  padding-top: 8px;
  background:rgb(241, 234, 247);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
// .filter-slider {
//   width: 355px;
//   display: flex;
//   flex-direction: row;
//   padding-left: 18px;
//   font-family: Open Sans;
//   font-size: 14px;
//   // background:red;

 .filter-ing-item {
      height: 30px;
      width: 70px;
      background: pink;
      margin: 5px;
      position: relative;
    }


