.cont-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;

  .recipe-show-cont {
    display: flex;
    width: 600px;
    height: 500px;
    padding: 10px;
    border: 1px solid lightgray;
    justify-content: center;

      .recipe-show-ls {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .recipe-show-photo-cont {
          height: 150px;
          width: 250px;
          overflow: hidden;

          .recipe-show-photo {
            height: 100%;
            width: 100%;
          }
        }
        .rs-icon-cont {
          display: flex;
          margin-left: 15px;

          .rs-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            text-align: center;
            border: 2px solid gray;
            color: gray;
            margin-right: 10px;
          }
        }
        .chart-cont {
          height: 250px;
          width: 250px;
          display: flex;
          flex-direction: column;
      }
    }

}




.recipe-show-ing-list {
  margin: 5px 0;
  list-style: none;
  overflow-y: auto;
}
.rs-main-cont {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

}


.rs-title {
  font-size: 20px;
}
.rs-li-item {
  margin: 7px 0;
  display: flex;
  align-items: center;
}
.rs-li-item-pic-cont {
  height: 20px;
  width: 20px;
}
.rs-l-i-p {
  height: 100%;
  width: 100%;
}
.chart-test {
  margin: 5px;
  height: 16px;
  width: 100px;
  text-align: -10px;
  border-radius: 8px;
  text-align: center;
  // background: linear-gradient(90deg, #FFC0CB 70%, #00FFFF 100%)
}

.bar-graph-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 3px 0;
  border: 1px solid gray;

}
.bar-chart-cont {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
}


}